{% extends "base.html" %}
{% load blog_extras %}
{% block content %}


<h2>{{ post.title }}</h2>

{% row %}
<div class="col">
    {% include "blog/post-byline.html" %}
</div>
{% endrow %}

{% row %}
{% if post.hero_image %}
    {% row %}
        {% col %}
            <img class="img-fluid" src="{{ post.hero_image.url }}">
        {% endcol %}
    {% endrow %}
{% endif %}
{% endrow %}


{% row %}
<div class="col">{{ post.content|safe }}    
</div>
{% endrow %}

{% if post.author.profile %}
{% row %}
{% col %}
<h4>About the author</h4>
<p>{{ post.author.profile.bio }}</p>
{% endcol %}
{% endrow %}
{% endif %}

{% include "blog/post-comments.html" %}

<!-- additional row for recent posts -->
{% row %}
{% col %}
    {% recent_posts post %}
{% endcol %}
{% endrow %}
<!-- end recent posts -->

{% endblock %}